# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production
.env.example

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Coverage
coverage/

# Uploads
uploads/

# Misc
*.tgz

# Test
tests/

# Docs
docs/*
docs/unit-tests/

